<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">


    <pluginGroups>
        <pluginGroup>io.spring.javaformat</pluginGroup>
    </pluginGroups>

    <servers>
        <server>
            <id>nexus-snapshots</id>
            <username>admin</username>
            <password>Claudia2012!</password>
        </server>
        <server>
            <id>nexus-releases</id>
            <username>admin</username>
            <password>Claudia2012!</password>
        </server>
    </servers>
</settings>
